:root {
	--whitesmoke           : #edf2f7;
	--darkgray             : #2e2e35;
	--gray                 : #85888c;
	--material-brown-500   : #795548;

	--color-alcent               : var(--material-brown-500);
	--body-background-light      : url(../img/background.png);
	--body-background-dark       : url(../img/background-dark.png);
	--wrapper-background-light   : rgba(255, 255, 255, 0.8);
	--wrapper-background-dark    : rgba(0, 0, 0, 0.7);
	--content-background-light   : rgba(127, 107, 79, 0.7);
	--content-background-dark    : rgba(0, 0, 0, 0.5);
	--navigator-background-light : #dcc7a8;
	--navigator-background-dark  : rgb(45, 45, 45);
	--switch-fill-light          : var(--color-alcent);
	--switch-fill-dark           : var(--navigator-background-light);
	--card-number-color-light    : var(--color-alcent);
	--card-number-color-dark     : var(--navigator-background-light);

	/*   default   */
	--text-color           : black;
	--body-background      : var(--body-background-light);
	--wrapper-background   : var(--wrapper-background-light);
	--content-background   : var(--content-background-light);
	--switch-fill          : var(--switch-fill-light);
	--navigator-background : var(--navigator-background-light);
	--card-number-color    : var(--card-number-color-light);
	--doc-bgrnd            : var(--whitesmoke);
	--btn-color            : var(--color-alcent);
	--btn-color-hover      : var(--darkgray);
	--btn-bgrnd            : var(--darkgray);
	--btn-bgrnd-hover      : var(--color-alcent);
	--btn-outline          : var(--darkgray);
	--detail-color         : black;
	--card-hdr-color       : var(--switch-fill);
	--card-bgrnd           : rgba(255, 249, 242, 0.9);
	--card-ntd-color       : var(--gray);
	--card-answ-color      : black;
}
@font-face {
	font-family: 'RobotoSlab';
	src: url(../font/RobotoSlab.ttf);
}
*,*::before,*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,ol,li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,body {
	font-family:RobotoSlab;
	font-size:18px;
	line-height:1;
	width:100%;
	height:100%;
}
body {
	background-image: var(--body-background);
}
body[dark="1"] {
	--body-background      : var(--body-background-dark);
	--wrapper-background   : var(--wrapper-background-dark);
	--content-background   : var(--content-background-dark);
	--text-color           : white;
	--switch-fill          : var(--switch-fill-dark);
	--navigator-background : var(--navigator-background-dark);
	--card-number-color    : var(--card-number-color-dark);	
	--card-hdr-color       : var(--switch-fill-dark);
	--detail-color         : rgba(255, 255, 255, 0.95);
	--card-bgrnd           : var(--darkgray);
	--card-ntd-color       : white;
	--card-answ-color      : var(--btn-outline);
}
.wrapper{
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100%; /* make sure it is at least as tall as the viewport */
	background: var(--wrapper-background);
}
/**************************************************
 *   1. IE
 **************************************************/
.old-browser,
.old-browser p,
.old-browser td {
	text-align: center;
	padding: 10px;
	color: black;
}
.old-browser h2 {
	line-height: normal;
	margin: 20px;
}
.old-browser table {
	padding-top: 20px;
	margin: 0 auto;
}
.old-browser img {
	width: 64px;
	height: 64px;
}
/**************************************************
 *   1. Navigator
 **************************************************/
.navigator-container {
	position: sticky; 
	width: 100%;
	bottom: 0;
	overflow: hidden;
	border: 1rem solid transparent;
}
.navigator {
	border: 2px solid var(--color-alcent);
	background: var(--navigator-background);
	border-radius: 2rem;
	align-items: center;
	padding: .1rem;
	display: inline-flex;
	z-index: 100;
}
.current-card-number {
	color: var(--card-number-color);
	/* text-shadow: 1px 1px 1px var(--color-alcent); */
	margin-right: 0.4rem;
	margin-left: 0.4rem;
}
.switch {
	cursor: pointer;
	position: relative;
	display: inline-block;
	z-index: 100;
	padding: .2rem;
}
#btn-next {
	border-radius: 0 1rem 1rem 0;
}
#btn-home {
	border-radius: 1rem 0 0 1rem;
}
.switch:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	background-repeat: no-repeat;
	background-position: center;
}
.slider {
	width: 0;
	height: 0;
	display: none;
}
.ri-icn {
	padding-top: .4rem;
	padding-left: .32rem;
	height: 1.8rem;
	width: 1.8rem;
	fill: var(--switch-fill);
	transition: fill .5s ease;
}
/**************************************************
 *   1. Cards
 **************************************************/
.ri-icn-card {
	position: absolute;
	top: 0;
	left: 0;
	width: 3.2rem;
	height: 3.2rem;
	padding-top: 0.6rem;
	padding-left: 0.6rem;
	box-shadow: 0 10px 15px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
	border-bottom-right-radius: 8px;
	fill: var(--btn-color);
	background: var(--card-bgrnd);
	transition: fill .7s ease;
}
.ri-icn-card:hover {
	fill: var(--card-bgrnd);
	background: var(--btn-color);
}
/**************************************************
 *   2. Content
 **************************************************/
.content {
	background: var(--content-background);
	color: var(--text-color);
	flex: 1 1 auto;
	margin: 0 auto;
	padding: 1rem .3rem 2rem .3rem;
	width: 100%;
	hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
/**************************************************
 *   3. Footer
 **************************************************/
.footer {
	font-size: 0.8rem;
	font-weight: 500;
	padding: 0.5rem;
	color: var(--color-alcent);
	margin: 0 auto;
	width: 100%;
	display: inline-flex;
	align-items: center;
}
.author_links {
	border-left: 1px solid var(--color-alcent);
	float: right;
	width: 50%;
	padding-left: .3rem;
}
.author_links_item {
	margin-left: .3rem;
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	padding-top: .3rem;
}
.author_links_item svg {
	position: relative;
	height: 100%;
	width: 100%;
	fill: var(--color-alcent);
}
.author {
	display: inline-block;
	width: 50%;
	height: 1rem;
}
/**************************************************
 *   4. Page "Company Sections"
 **************************************************/
.tbl-title, .company-title {
	font-size: 1.3rem;
	font-weight: 400;
	color:white;
	text-align: center;
	padding: 1rem;
	border-bottom: 3px dotted var(--content-background);
	border-top: 3px dotted var(--content-background);
}
.company-title-container {
	width: 100%;
	margin: 0 auto;
	margin-bottom: .3rem;
	align-items: center;
	display: flex;
}
.company-title-container svg {
	margin-top: .1rem;
	margin-left: .5rem;
	float: left;
	height: 2.5rem;
	width: 2.5rem;
	fill: var(--color-alcent);
	cursor: pointer;
}
.company-title-container  div {
	float: right;
	width: 100%;
	height: 100%;
}
.company-title {
	text-align: right;
	font-size: 1.2rem;
	border: unset;
	color: var(--color-alcent);
	cursor: pointer;
}
.center {
	text-align: center;
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.tbl {
	display: block;
	margin: 0 auto;
}
.row {
	display: inline-block;
}
.elem {
	height: 13rem;
	position: relative;
	text-align: center;
	padding: 2rem 0 1rem 0;
	margin: 0.3rem;
	display: block;
	background: var(--card-bgrnd);
	box-shadow: 0 10px 15px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
	border-radius: 8px;
	overflow: hidden;
}
.elem h2 {
	color: var(--text-color);
	margin-top: 1rem;
	text-align: center;
	margin-bottom: 1rem;
	user-select: none;
	font-size: 1.2rem;
}
.elem p {
	width: 100%;
	text-align: center;
	position: absolute;
	display: block;
	color: var(--color-alcent);
	user-select: none;
	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.elem-blur-div {
	background: rgba(255,255,255,0.5);
	padding-top: 2rem;
	height: 100%;
}
.elem-bottom-div {
	position: absolute;
	bottom: 0;
	height: 4rem;
	width: 100%;
	background: var(--card-bgrnd);
	overflow: hidden;
}
/**************************************************
 *   5. Page "Section"
 **************************************************/
.card-hdr {
	display: block;
	margin-bottom: 1rem;
	margin-top: 1rem;
	width: 100%;
	text-align: center;
}
.card-hdr #title {
	color: var(--card-hdr-color);
	font-size: 1.2rem;
}
.card-hdr #card {
	margin-left: 1rem;
	display: inline-block;
}
.ntd {
	color: var(--gray);
	font-style: italic;
	font-size: 10pt;
}
.answer {
	font-size: 0.9rem;
	line-height: 1.4rem;
	margin-top: 10px;
}
.answer-media {
	text-align: center;
	width: 100%;
	margin: 1rem .0 1rem 0;
}
.answer-media img {
	border-radius: 1rem;
	max-width: 100%;
  	height: auto;
  	margin-bottom: 1rem;
}
.answer-media h2 {
	text-align: center;
	font-weight: 400;
}
.summary-subdetails {
	margin-bottom: -0.7rem;
}
.answer-subdetails {
	font-size: 0.9rem;
	line-height: 1.4rem;
	margin-top: 1.2rem;
}
body[dark="1"] .answer {
	font-weight: 350;
	color: var(--switch-fill);
}
.answer p,
.answer-subdetails p {
	text-indent: 20px;
}
details {
	text-align: start;
	color: var(--detail-color);
	display: block;
	background: var(--card-bgrnd);
	width: 100%;
	box-shadow: 0 10px 15px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 0.5rem;
}
details > details {
	margin-bottom: -3rem;
	width: auto;
	margin: .5rem;
}
summary::-webkit-details-marker {
	display: none;
}
summary::-moz-list-bullet {
	list-style-type: none;
}
summary::marker {
	display: none;
} 
summary {
	display: block;
	padding:.3em .3em .5em 1.4em;
	font-size: 14pt;
	line-height: 1.2rem;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #636363;
	margin: 5px 5px -1px 5px;
	z-index: 0;
}
summary:before {
	top:.4em;
	left: .3em;
	background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
	width: 1em;
	height: 1em;
	content:"";
	position: absolute;
	transition: transform .5s;
}
details[open] > summary:before {
	transform: rotateZ(90deg);
}
summary ~ * {
	padding: 0 1em 10px 1em;
}
details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}
@keyframes sweep {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
summary:focus {
	outline: 0;
	box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}
/**************************************************
 *   6. Adaptive for Desktop
 **************************************************/
 @media(min-width: 640px) {
	.wrapper {
		padding: .5rem .5rem 0 .5rem;
	}
	.elem {
		display: inline-block;
		width: 45%;
	}
	.content{
		border-radius: 1rem;
	}
}
@media(min-width: 1024px) {
	.wrapper {
		padding: .5rem .5rem 0 .5rem;
	}
	.content{
		width: 85%;
		border-radius: 1rem;
		padding: 1rem 1rem 2rem 1rem;
	}
	.footer,
	.company-title-container {
		width: 85%;
	}
	.row {
		display:table-row;
	}
	.elem {
		display: inline-block;
		width: 30%;
	}
}